<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>redmond</param-value>
    </context-param>
    
    <data-source>
        <name>java:global/jdbc/giftube</name> <!-- JNDI resource -->
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name> <!-- Driver -->
        <url>jdbc:h2:~/h2db/giftube;AUTO_SERVER=TRUE</url> <!--DB in user folder -->
        <user>dawuser</user>
        <password>dawuser</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>
    
    <security-role>
        <role-name>USUARIOS</role-name>
    </security-role>
    
    <security-role>
        <role-name>ADMINISTRADORES</role-name>
    </security-role>
   
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Usuarios identificados</web-resource-name>
          <url-pattern>/GIF/upload_gif.xhtml</url-pattern> <!--URL's en las que tienes que estar si o si logeado-->
          <url-pattern>/GIF/edita_gif.xhtml</url-pattern>
          <url-pattern>/GIF/gifs_propios.xhtml</url-pattern>
          <url-pattern>/GIF/configuracion.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USUARIOS</role-name>
            <role-name>ADMINISTRADORES</role-name>
        </auth-constraint>
    </security-constraint>
    
    <session-config>
        <session-timeout> 50 </session-timeout> 
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure> 
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> 
    </session-config>
    
    <welcome-file-list>
        <welcome-file>GIF/main1.xhtml</welcome-file>
    </welcome-file-list>
    
    
  
  
</web-app>



